/*
body {
    background-color: red;
}
*/



/*
.outer-wrap-header.outer-wrap {
    background-color: yellow;
}

.outer-wrap-header {
    background-color: green;
}
*/



/* box-sizing */
/*
.outer-wrap {
    background-color: #999;
}

.inner-wrap {
    width: 1100px;
    margin: 8px auto;
    padding: 8px;
    background-color: #ccc;
}

.row {
    border: 1px solid black;
    background-color: #eee;
    min-height: 200px;
}
/**/
